NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDWXgFqhzkvGiYZSIcF7xlN15I5JaWbd9s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=terrainfra360-e7d85.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=terrainfra360-e7d85
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=terrainfra360-e7d85.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=419577698947
NEXT_PUBLIC_FIREBASE_APP_ID=1:419577698947:web:72b7b9dfd1c1fc2d1019b6